<div class="page-title">{{ this.idParam != null ? editUserLabel : addNewUserLabel }}</div>
<mat-divider style="margin-bottom: 20px"></mat-divider>
<div class="container" novalidate> 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
        <mat-form-field class="form-element">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="!name.valid && name.touched">
            {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="User name" formControlName="username">
            <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
            {{ getErrorEmail() }}
            </mat-error>
        </mat-form-field>

        <div class="form-element" formGroupName="address">
            <h3>Address:</h3>
            <mat-form-field class="form-element">
                <input matInput placeholder="Street" formControlName="street">
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Suite" formControlName="suite">
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Zipcode" formControlName="zipcode">
            </mat-form-field>

            <div formGroupName="geo">
                <mat-form-field class="form-element">
                    <input matInput placeholder="Latitude" formControlName="lat">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="Longitude" formControlName="lng">
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="form-element">
            <input matInput type="tel" placeholder="Phone" formControlName="phone">
        </mat-form-field>


        <mat-form-field class="form-element">
            <input matInput placeholder="Website" formControlName="website">
        </mat-form-field>

        <div formGroupName="company">
            <mat-form-field class="form-element">
                <input matInput placeholder="Company Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Catch Phrase" formControlName="catchPhrase">
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="BS" formControlName="bs">
            </mat-form-field>
        </div>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
                {{ this.idParam != null ? editUserLabel : addNewUserLabel }}
            </button>
        </div>

    </form>
</div>
